{# this is just one recipe card, to be included in lists #}
{% load static %}

<a href="{{ recipe.get_absolute_url }}" class="recipe-card">
    
    {% if recipe.recipe_image %}
        <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.title }}">
    {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="No image">
    {% endif %}
    <h2>{{ recipe.title }}</h2>
    <p>{{ recipe.short_description }}</p>
    <div class="stats">
        <span>❤️ {{ recipe.like_count }}</span>
        <span>💬 {{ recipe.comments_count }}</span>
    </div>
    

</a>
