{% extends "base.html" %}

{% block content %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
        style="text-align: center; color: red; font-weight: bold; margin: 20px 0;"
        >
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    
    <div class="registration-container">
        <div class="registration-box">

        <h2>Register</h2>
        <form method="POST" enctype="multipart/form-data" class="registration-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
{% endblock %}
